{:paths ["src"]
 :deps {io.github.vhqr0/clj-proxy {:local/root "../clj-proxy"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        org.bouncycastle/bcprov-jdk18on {:mvn/version "1.78.1"}}
 :aliases {:dev {}}}
